{
  "permissions": {
    "allow": [
      "Bash(python3:*)",
      "mcp__supabase__apply_migration",
      "mcp__supabase__execute_sql",
      "mcp__supabase__list_tables",
      "mcp__playwright__*",
      "Bash(npm install:*)",
      "Read(//home/g/.cache/ms-playwright/**)",
      "Bash(node:*)",
      "Bash(npm run compile:*)",
      "Bash(git config:*)",
      "Bash(grep:*)",
      "Bash(touch:*)",
      "mcp__playwright-mcp__browser_navigate",
      "mcp__playwright-mcp__browser_wait_for",
      "mcp__playwright-mcp__browser_click",
      "mcp__playwright-mcp__browser_take_screenshot",
      "mcp__playwright-mcp__browser_evaluate",
      "mcp__playwright-mcp__browser_drag",
      "mcp__playwright-mcp__browser_file_upload",
      "mcp__playwright-mcp__browser_type",
      "mcp__playwright-mcp__browser_handle_dialog",
      "mcp__playwright-mcp__browser_snapshot",
      "mcp__playwright-mcp__browser_tabs",
      "WebFetch(domain:github.com)",
      "Bash(xargs:*)",
      "WebSearch",
      "Bash(kill:*)",
      "Bash(curl:*)",
      "mcp__playwright-mcp__browser_resize",
      "mcp__playwright-mcp__browser_close",
      "Bash(find:*)",
      "mcp__playwright-mcp__browser_console_messages",
      "WebFetch(domain:brainhub.eu)",
      "WebFetch(domain:www.npmjs.com)",
      "mcp__sentry-mcp__find_projects",
      "mcp__sentry-mcp__search_issues",
      "mcp__sentry-mcp__search_events",
      "mcp__sentry-mcp__find_organizations",
      "Bash(cloc:*)",
      "Bash(npm outdated:*)",
      "mcp__sentry-mcp__get_issue_details",
      "Bash(git commit:*)",
      "Bash(git add:*)",
      "Bash(git push:*)",
      "Bash(npm run dev:*)",
      "Bash(pkill:*)",
      "mcp__playwright-mcp__browser_navigate_back",
      "Bash(npx eslint:*)",
      "WebFetch(domain:stackoverflow.com)",
      "WebFetch(domain:adactio.medium.com)",
      "WebFetch(domain:dexie.org)",
      "WebFetch(domain:apidog.com)",
      "WebFetch(domain:developers.cloudflare.com)",
      "Bash(ls:*)",
      "Bash(awk:*)"
    ]
  },
  "enableAllProjectMcpServers": true,
  "enabledMcpjsonServers": [
    "supabase",
    "stripe-test",
    "stripe-live",
    "playwright-mcp",
    "sentry-mcp"
  ]
}
